/* App.css */
main {
  padding-top: 80px; /* Adjust based on your navbar height */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

.app-container {
  width: 100%;
}
