/* Page wrapper */
.my-rent-container {
  background-color: #ffffff;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Headings */
.booking-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 52px;
}

.my-rent-container h2 {
  text-align: center;
  color: #034fa1;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.my-rent-container h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #034fa1;
}

.my-rent-container h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #222;
}

.my-rent-container p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #222;
}
/* Booking Card */
.booking-card {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 47%;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: #a7c7e7;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Booking Image */
.booking-card img {
  width: 350px;
  height: 230px;
  border-radius: 6px;
}

/* Booking details text */
.booking-details {
  flex: 1;
}

.booking-details p {
  margin: 4px 0;
  color: #000000;
}

/* Buttons */
.booking-card button,
.review-form button {
  padding: 8px 12px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.booking-card button:hover,
.review-form button:hover {
  background-color: #0056b3;
}

/* Review form container */
.review-form {
  border: 1px solid #333;
  padding: 15px;
  margin-top: 20px;
  background: #eee;
  border-radius: 8px;
  max-width: 500px;
}

.review-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}

.review-form input,
.review-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #000000;
  margin-top: 4px;
  box-sizing: border-box;
}

.review-form textarea {
  min-height: 80px;
  resize: vertical;
}


.cancel-confirm {
  background-color: #e74c3c;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-back {
  background-color: #000000;
  color: #ffffff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cancelled-btn {
  background-color: #e74c3c;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.toast-action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

.toast-buttons{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}